@model BillsForBuildingModel

@{
    ViewData["Title"] = "Bills";
}

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        Outstanding bills: @Model.UnpaidBills
        <br />
        Outstanding amount @Model.UnpaidBillsAmount
    </div>
    <div class="col-sm-6">
        <a class="btn btn-lg btn-success" asp-area="Manager" asp-controller="Bills" asp-action="Generate" asp-route-id="@Model.BuildingId">Generate bills</a>

        <a class="btn btn-lg btn-info" asp-area="Manager" asp-controller="Bills" asp-action="Pay">Pay bills</a>
    </div>
    <div class="col-sm-12">
        <h3>
            Outstanding bills
        </h3>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>
                        Apartment
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Due
                    </th>
                    <th>
                        For period
                    </th>
                    <th>
                        For year
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bill in Model.Bills)
                {
                    <tr>
                        <td>
                            @bill.Apartment
                        </td>
                        <td>
                            @bill.TotalAmount
                        </td>
                        <td>
                            @bill.DueDate.ToShortDateString()
                        </td>
                        <td>
                            @bill.Period
                        </td>
                        <td>
                            @bill.Year
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
