@model BuildingsPaginatedModel<BuildingAdminListModel>

@{
    ViewData["Title"] = "Buildings Index";
    string searchString = Model.Search == "" ? null : Model.Search;
}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-success" asp-area="Admin" asp-controller="Buildings" asp-action="Create">Create</a>
    </div>

    @Html.Partial("_SearchBuilding", searchString)

</div>


<table class="table table-bordered table-striped table-hover indexTable">
    <thead>
        <tr>
            <th class="col-xs-3">
                Building Address
            </th>
            <th class="col-xs-1">
                Contract
            </th>
            <th class="col-xs-1">
                Start of service
            </th>
            <th class="col-xs-1">
                End of service
            </th>
            <th class="col-xs-1">
                Manager
            </th>
            <th class="col-xs-1">
                Apartments
            </th>
            <th class="col-xs-1">
                Residents
            </th>
            <th class="col-xs-1">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var building in Model.Buildings)
        {
            <tr>
                <td>
                    @building.Address
                </td>
                <td>
                    @building.Contract
                </td>
                <td>
                    @building.ServiceStartDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(m => building.ServiceEndDate)
                </td>
                <td>
                    @building.ManagerEmail
                </td>
                <td>
                    @building.ApartmentsCount
                </td>
                <td>
                    @building.ResidentsCount
                </td>
                <td>
                    <div>
                        <a class="btn btn-sm btn-warning" asp-area="Admin" asp-controller="Buildings" asp-action="Edit" asp-route-id=@building.Id>Edit</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_PagingBuilding", Model)